header.header
  .header__inner
    .logo
      a(href="#").nav__link
        img(src="images/logo.png", alt="")
    nav.nav
      ul.nav__inner
        li.nav__item
          a(href='#').nav__link work
        li.nav__item
          a(href='#').nav__link NEWS
        li.nav__item
          a(href='#').nav__link bio
        li.nav__item
          a(href='#').nav__link contact

