.block
  .inner.block__inner
    span.block__text-item .FOLIO
    span.block__text-item ONE PAGE
    span.block__text-item PSD THEME
    span.block__text-item.block__text-item--small Simple, clear, minimal portfolio template
header.header
  .inner.header__inner
    .logo
      a(href="#").nav__link
        img(src="images/logo.png", alt="")
    nav.nav
      ul.nav__inner
        li.nav__item
          a(href='#').nav__link work
        li.nav__item
          a(href='#').nav__link NEWS
        li.nav__item
          a(href='#').nav__link bio
        li.nav__item
          a(href='#').nav__link contact
        li.nav__item
          .social.header__social
              a(href="#").social__link
                img(src="images/icons/in_icon.svg", alt="")
              a(href="#").social__link
                img(src="images/icons/fb_icon.svg", alt="")
              a(href="#").social__link
                img(src="images/icons/flickr_icon.svg", alt="")
              a(href="#").social__link
                img(src="images/icons/tw_icon.svg", alt="")
