.header
    padding: 32px 10px
    background-color: #252222

.header__inner
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1000px
  margin: 0 auto

.nav__inner
  display: flex

.nav__item

  &:not(:last-child)
    margin-right: 30px





.nav__link
  color: #ffffff
  font-family: "Bebas Neue"
  font-size: 18px
  font-weight: 400
  text-decoration: none
  text-transform: uppercase

  &:hover
    color: #65ba99

    .nav__item
      border-bottom: 1px solid #65ba99



