*
  max-width: 100%
  word-break: break-all
  // line-height: 10px

.content-item
  width: 100%
  max-width: 45%

.news-article__title
  color: #59a386
  font-family: "Open Sans - Semibold"
  font-size: 16px
  font-weight: 400
  margin-bottom: 11px

.news-article__img
  margin-bottom: 18px

.news-article__title
  margin-bottom: 18px

.news-article__text
  color: #666767
  font-family: "Open Sans"
  font-size: 14px
  font-weight: 400


.section__title
  text-align: center

.section
  display: flex
  justify-content: center
  padding: 0px 15px

.news-section
  padding-top: 77px
  padding-bottom: 77px
  background-color: #cdcdcd


.section__inner
  max-width: 934px
  width: 100%

.section__title
  color: #252222
  font-family: "Bebas Neue"
  font-size: 48px
  font-weight: 400

.new-section__title
  margin-bottom: 65px

.section__content
  display: flex
  justify-content: space-between

.section__inner
  // max-width: 950px

.tags__btn-inner
  display: flex
  flex-wrap: wrap

  .btn
    margin-bottom: 10px

.tags__title
  display: block
  margin-bottom: 25px
  color: #59a386
  font-family: "Bebas Neue"
  font-size: 18px
  font-weight: 400
  line-height: 20px
  text-transform: uppercase


.btn
  padding: 7px 11px
  background-color: #59a386
  color: #ffffff
  font-family: "Open Sans"
  font-size: 14px
  font-weight: 400
  cursor: pointer
  // line-height: 20.8px

  &:not(:last-child)
    margin-right: 6px

.news-post__info
    margin-bottom: 24px
    display: flex
    justify-content: space-between

.date
  padding: 6px 21px
  background-color: #59a386
  color: #fffefe;
  font-family: "Open Sans"
  font-size: 11px
  font-weight: 400
  line-height: 20.8px


.clients-section
    align-items: center
    background-color: #bebebe
    padding-top: 77px
    padding-bottom: 77px


.clients-section__content
  align-items: center

