extends /layout/app

block content
  .container
    section.section.portfolio-section
        .section__inner
          h2.section__title.portfolio-section__title portfolio /
          .section__content
            .gallery
              .gallery__item
                .gallery__image
                  img(src="images/image.jpg", alt="")
                .gallery__item-hover
                  div
                    img(src="images/icons/zoom.svg", alt="")
                  div
                    img(src="images/icons/polaroid-icon.svg", alt="")
                    img(src="images/icons/link.svg", alt="")
                    img(src="images/icons/info.svg", alt="")
                    img(src="images/icons/like.svg", alt="")
              .gallery__item
                .gallery__image
                  img(src="images/image.jpg", alt="")
              .gallery__item
                .gallery__image
                  img(src="images/image.jpg", alt="")
              .gallery__item
                .gallery__image
                  img(src="images/image.jpg", alt="")
              .gallery__item
                .gallery__image
                  img(src="images/faces/face-1.jpg", alt="")
                .gallery__image
                  img(src="images/faces/face-2.jpg", alt="")
              .gallery__item
                .gallery__image
                  img(src="images/faces/face-3.jpg", alt="")
                .gallery__image
                  img(src="images/faces/face-4.jpg", alt="")
              .gallery__item
                .gallery__image
                  img(src="images/image.jpg", alt="")
              .gallery__item
                .gallery__image
                  img(src="images/building.jpg", alt="")
                .gallery__image
                  img(src="images/nature.jpg", alt="")
              .gallery__item
                .gallery__image
                  img(src="images/sea.jpg", alt="")
                .gallery__image
                  img(src="images/wheel.jpg", alt="")
              .gallery__item
                .gallery__image
                  img(src="images/shaman-staff.jpg", alt="")
    section.section.quote-section
      .inner
        .section__content.quote-section__content
          p.quote-section__quote
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Aenean vel diam non neque iaculis sollicitudin.
          span.quote-section__author - lorem ipsum -

    section.section.news-section
      .inner
        h2.section__title.new-section__title News /
        span.section__subtitle
        .section__content
          article.content-item.news-post
            .news-post__info
              .date 23 September 2013
              span.news-post__categories
                .news-post__categories-img
                  img(src="images/icons/tag_icon.png", alt="")
                | Glamour, Fashion
            h3.news-article__title Duis dapibus aliquam mi, eget euismod sem scelerisque ut.
            .news-article__img
              img(src="images/image.jpg", alt="")
            .news-article__text
              | Nunc nec massa et risus iaculis interdum et sed mi. Nam viverra
              | ac neque eu aliquet. Maecenas posuere, neque non vestibulum
              |  sodales, arcu diam interdum nulla, in molestie magna magna vitae
              |  justo. Aenean semper volutpat sapien eu porta. Etiam vestibulum
              |  pharetra risus vel ultricies.
              span.read-more
               |Read more...
               span.read-more__arrow
                img(src="images/icons/arrow-icon.png", alt="").
          .content-item
            .tags
              span.tags__title Tags
              .tags__btn-inner
                .btn Glamour
                .btn Street
                .btn Personal
                .btn Portrait
                .btn B&W
                .btn Nude
                .btn Wedding
                .btn Fashion
                .btn Kids

            .blog-posts
              .blog-posts__title from the
                  span.blog-posts__title--weight BLOG

              .blog-posts__item
                .blog__posts-image
                  img(src="images/blog-image.jpg", alt="")
                .blog-posts__text
                  p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Morbi blandit velit id dolor fermentum, non
                  | posuere libero posuere.

                  p.blog-posts__date 26 Aug, 2013
              .blog-posts__item
                .blog__posts-image
                  img(src="images/blog-image.jpg", alt="")
                .blog-posts__text
                  p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Morbi blandit velit id dolor fermentum, non
                  | posuere libero posuere.

                  p.blog-posts__date 26 Aug, 2013
    section.section.clients-section
      .inner
        .section__content.clients-section__content
          .clients-section__item
            img(src="images/clients/canon-logo.png", alt="canon")
          .clients-section__item
             img(src="images/clients/nikon-logo.png", alt="nikon")
          .clients-section__item
            img(src="images/clients/manfrotto-logo.png", alt="manfrotto")
          .clients-section__item
            img(src="images/clients/prolight-logo.png", alt="prolight")
    section.section.bio-section
      .inner
        h2.section__title.bio-section__title Bio /
        .section__content.bio-section__content
          .person.content-item
            .person__name John Smits
            .person__avatar
              img(src="images/avatar.png", alt="")
            .social.person__social
              a(href="#").social__link
                img(src="images/icons/in_icon.svg", alt="")
              a(href="#").social__link
                img(src="images/icons/fb_icon.svg", alt="")
              a(href="#").social__link
                img(src="images/icons/flickr_icon.svg", alt="")
                a(href="#").social__link
                  img(src="images/icons/tw_icon.svg", alt="")

          .bio-section__info.content-item
            span.person__title Best Solution is the simplest IDEA!
            p.person__text
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel
              |diam non neque iaculis sollicitudin. Nunc nec massa et risus
              |iaculis interdum et sed mi. Nam viverra ac neque eu aliquet.
              |Maecenas posuere, neque non vestibulum sodales, arcu diam
              |interdum nulla, in molestie magna magna vitae justo. Aenean
              |semper volutpat sapien eu porta. Etiam vestibulum pharetra
              |risus vel ultricies. Phasellus tempus, enim sed gravida interdum,
              |lorem ipsum auctor libero, ut ultrices dolor dolor at nulla.
              |Integer viverra vitae velit eget tincidunt. Fusce tristique eros ac
              |est mattis consequat.
            p.person__text
              |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel
              |diam non neque iaculis sollicitudin. Nunc nec massa et risus
              |iaculis interdum et sed mi. Nam viverra ac neque eu aliquet.
              |Maecenas posuere, neque non vestibulum sodales, arcu diam
              |interdum nulla, in molestie magna magna vitae justo.











