footer.footer
   section.section.footer-section
      .section__inner
        h2.section__title Contact /
        span.section__subtitle
        .section__content.footer-section__content
          .number +39 123 45678 90
          addres.addres 124 Avenue Street, Los angeles,California
          .contact-button contact@smits.me
          .copyright  © Copyright 2013 The Uncreative Lab, All Rights Reserved.

