footer.footer
   section.section.footer-section
      .inner.footer__inner
        h2.section__title.footer-section__title Contact /
        .section-content.footer-section__content
          .number +39 123 45678 90
          button.contact-button contact@smits.me
          addres.addres 124 Avenue Street, Los angeles,California
          .copyright  © Copyright 2013 The Uncreative Lab, All Rights Reserved.

